<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/reset.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/layout.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/form.css') }}"
    />
  </head>
  <body>
    <div class="form-container">
      <h1>Login</h1>
      <form id="loginForm" method="POST">
        <!-- Username -->
        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Your Username"
          required
        />

        <!-- Password -->
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Your password"
          required
        />

        <!-- Submit Button -->
        <button type="submit">Login</button>
      </form>
      <p class="helper-text">
        Don't have an account? <a href="{{ url_for('signup') }}">Sign Up</a>
      </p>
    </div>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
  </body>
</html>
